<section id="tableSection">
    <table>
        <tr>
            <th id="head0">id</th>
            <th id="head1">Kurskod</th>
            <th id="head2">Namn</th>
            <th id="head3">Progression</th>
            <th id="head4">Url</th>
        </tr>
        <% content.forEach(content => { %>
            <tr>
                <td><%= content.id %></td>
                <td><%= content.coursecode %></td>
                <td><%= content.coursename %></td>
                <td><%= content.progression %></td>
                <td><a href=<%= content.syllabus %>><%= content.syllabus %></a></td>
            </tr>
        <% }) %>
    </table>
</section>